.modificacion_carrusel{
    width: 400spx;
    display: flex;
    margin:auto;
    box-shadow:5px 5px 10px rgb(48, 46, 46); 
    margin-bottom: 50px;
    
}
.tamaño_imagen_carrusel{
    height: 300px;
    width: 400px;
    display: flex;
}
.parrafo_gastronomia{
    font-family: 'Raleway', sans-serif;
    color: $p_bl; 
    padding: 50px;
   margin: 50ppx;
    display: flex;
    margin: auto;
    text-align: center;
    font-size: 30px;
    
}